---

- job_name: 'node_exporter_static'
  static_configs:
{% if PLATFORM_IP %}
    - labels:
        service: 'aparavi'
        component: 'platform'
        subcomponent: 'app'
      targets:
        - '{{ PLATFORM_IP }}:9100'
{% endif %}
