[
  {
    "clientName": "APARAVI",
    "objectId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "phone": "555-555-5555",
    "email": "jenkins@aparavi.com",
    "userName": "aparavi",
    "password": "aparavi"
  },
  {
    "clientName": "yabramov",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbyabramov",
    "phone": "777-777-7777",
    "email": "yuriy.abramov@aparavi.com",
    "userName": "yabramov",
    "password": "yabramov"
  },
  {
    "clientName": "rdimitrenko",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-brdimitrenko",
    "phone": "777-777-7777",
    "email": "roman.dimitrenko@aparavi.com",
    "userName": "rdimitrenko",
    "password": "rdimitrenko"
  },
  {
    "clientName": "asclearuc",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbasclearuc",
    "phone": "777-777-7777",
    "email": "alex.sclearuc@aparavi.com",
    "userName": "asclearuc",
    "password": "asclearuc"
  },
  {
    "clientName": "clandsman",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbclandsman",
    "phone": "777-777-7777",
    "email": "caroline.landsman@aparavi.com",
    "userName": "clandsman",
    "password": "clandsman"
  },
  {
    "clientName": "sbrodie",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbsbrodie",
    "phone": "777-777-7777",
    "email": "spence.brodie@aparavi.com",
    "userName": "sbrodie",
    "password": "sbrodie"
  },
  {
    "clientName": "mcarpenter",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbmcarpenter",
    "phone": "777-777-7777",
    "email": "matt.carpenter@aparavi.com",
    "userName": "mcarpenter",
    "password": "mcarpenter"
  },
  {
    "clientName": "slieu",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbslieu",
    "phone": "777-777-7777",
    "email": "shawn.lieu@aparavi.com",
    "userName": "slieu",
    "password": "slieu"
  },
  {
    "clientName": "rpost",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbrpost",
    "phone": "777-777-7777",
    "email": "ryan.post@aparavi.com",
    "userName": "rpost",
    "password": "rpost"
  },
  {
    "clientName": "mmateescu",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbmmateescu",
    "phone": "777-777-7777",
    "email": "madalina.mateescu@aparavi.com",
    "userName": "mmateescu",
    "password": "mmateescu"
  },
  {
    "clientName": "hheymann",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbhheymann",
    "phone": "777-777-7777",
    "email": "heinz.heymann@aparavi.com",
    "userName": "hheymann",
    "password": "hheymann"
  },
  {
    "clientName": "mdobes",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbmdobes",
    "phone": "777-777-7777",
    "email": "martin.dobes@aparavi.com",
    "userName": "mdobes",
    "password": "mdobes"
  },
  {
    "clientName": "gkonrad",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbgkonrad",
    "phone": "777-777-7777",
    "email": "gian-luca.konrad@aparavi.com",
    "userName": "gkonrad",
    "password": "gkonrad"
  },
  {
    "clientName": "nderyuzhova",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bnderyuzhova",
    "phone": "777-777-7777",
    "email": "natalia.deryuzhova@aparavi.com",
    "userName": "nderyuzhova",
    "password": "nderyuzhova"
  },
  {
    "clientName": "lpolezhaeva",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-blpolezhaeva",
    "phone": "777-777-7777",
    "email": "liubov.polezhaeva@aparavi.com",
    "userName": "lpolezhaeva",
    "password": "lpolezhaeva"
  },
  {
    "clientName": "jmaionchi",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbjmaionchi",
    "phone": "777-777-7777",
    "email": "joe.maionchi@aparavi.comi",
    "userName": "jmaionchi",
    "password": "jmaionchi"
  },
  {
    "clientName": "kaverkiev",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbkaverkiev",
    "phone": "777-777-7777",
    "email": "konstantin.averkiev@aparavi.com",
    "userName": "kaverkiev",
    "password": "kaverkiev"
  },
  {
    "clientName": "rduong",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbrduong",
    "phone": "777-777-7777",
    "email": "royce.duong@aparavi.com",
    "userName": "rduong",
    "password": "rduong"
  },
  {
    "clientName": "aaluev",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbaaluev",
    "phone": "777-777-7777",
    "email": "andrey.aluev@aparavi.com",
    "userName": "aaluev",
    "password": "aaluev"
  },
  {
    "clientName": "akonstantinov",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-akonstantino",
    "phone": "777-777-7777",
    "email": "alek.konstantinov@aparavi.com",
    "userName": "akonstantinov",
    "password": "akonstantinov"
  },
  {
    "clientName": "skoschkin",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbskoschkin",
    "phone": "777-777-7777",
    "email": "sergej.koschkin@aparavi.com",
    "userName": "skoschkin",
    "password": "skoschkin"
  },
  {
    "clientName": "smikhaylov",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbsmikhaylov",
    "phone": "777-777-7777",
    "email": "stepan.mikhaylov@aparavi.com",
    "userName": "smikhaylov",
    "password": "smikhaylov"
  },
  {
    "clientName": "mgushinets",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbmgushinets",
    "phone": "777-777-7777",
    "email": "mikhail.gushinets@aparavi.com",
    "userName": "mgushinets",
    "password": "mgushinets"
  },
  {
    "clientName": "mmulyukin",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbmmulyukin",
    "phone": "777-777-7777",
    "email": "mikhail.mulyukin@aparavi.com",
    "userName": "mmulyukin",
    "password": "mmulyukin"
  },
  {
    "clientName": "mrahman",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbmrahman",
    "phone": "777-777-7777",
    "email": "mdrezaur.rahman@aparavi.com",
    "userName": "mrahman",
    "password": "mrahman"
  },
  {
    "clientName": "tbernaciak",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbtbernaciak",
    "phone": "777-777-7777",
    "email": "tomasz.bernaciak@aparavi.com",
    "userName": "tbernaciak",
    "password": "tbernaciak"
  },
  {
    "clientName": "lstarosta",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbblstarosta",
    "phone": "777-777-7777",
    "email": "lukasz.starosta@aparavi.com",
    "userName": "lstarosta",
    "password": "lstarosta"
  },
  {
    "clientName": "lnatanian",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbblnatanian",
    "phone": "777-777-7777",
    "email": "leo.natanian@aparavi.com",
    "userName": "lnatanian",
    "password": "lnatanian"
  },
  {
    "clientName": "zaoune",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbzaoune",
    "phone": "777-777-7777",
    "email": "zakaria.aoune@aparavi.com",
    "userName": "zaoune",
    "password": "zaoune"
  },
  {
    "clientName": "anair",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbzaoune",
    "phone": "777-777-7777",
    "email": "anita.nair@aparavi.com",
    "userName": "anair",
    "password": "anair"
  },
  {
    "clientName": "dtiukalov",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbdtiukalov",
    "phone": "777-777-7777",
    "email": "dmitrii.tiukalov@aparavi.com",
    "userName": "dtiukalov",
    "password": "dtiukalov"
  },
  {
    "clientName": "gluna",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbgluna",
    "phone": "777-777-7777",
    "email": "geovanni.luna@aparavi.com",
    "userName": "gluna",
    "password": "gluna"
  },
  {
    "clientName": "itaskaev",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbitaskaev",
    "phone": "777-777-7777",
    "email": "ilya.taskaev@aparavi.com",
    "userName": "itaskaev",
    "password": "itaskaev"
  }
]
