[  
  {
    "clientName": "{{ node_meta_service_instance }}",
    "objectId": "{{ aparavi_platform_client_objectid }}",
    "phone": "{{ aparavi_platform_client_phone }}",
    "email": "{{ aparavi_platform_client_email }}",
    "userName": "{{ aparavi_platform_client_username }}",
    "password": "{{ aparavi_platform_client_password }}"
  }
]
