[
  {
    "clientName": "{{ node_meta_service_instance }}",
    "parentId": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
    "objectId": "bbbbbbbb-bbbb-bbbb-bbbb-{{ node_meta_service_instance }}",
    "phone": "777-777-7777",
    "email": "{{ node_meta_service_instance }}",
    "userName": "{{ node_meta_service_instance }}",
    "password": "{{ node_meta_service_instance }}"
  }
]