# {{ ansible_managed }}

daemonize yes
pidfile /var/run/redis/{{ redis_daemon }}.pid
port {{ redis_port }}
bind {{ redis_bind_interface }}

timeout {{ redis_timeout }}

loglevel {{ redis_loglevel }}
logfile {{ redis_logfile }}

# To enable logging to the system logger, just set 'syslog-enabled' to yes,
# and optionally update the other syslog parameters to suit your needs.
# syslog-enabled no
# syslog-ident redis
# syslog-facility local0

{% for save in redis_save %}
save {{ save }}
{% endfor %}

# maxclients 128

appendonly {{ redis_appendonly }}
appendfsync {{ redis_appendfsync }}
no-appendfsync-on-rewrite no
